*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #395953; */
  color: #DCEEF2;
  font-size: 20px;
  background-image: linear-gradient(rgba(0, 141, 92, 0.15), rgba(31, 89, 88, 0.9)), url("https://media.istockphoto.com/id/1164716131/photo/water-surface-with-autumn-leaves-and-reflections.jpg?s=612x612&w=0&k=20&c=KQixlc9EP4MyGKQuTSRtyFHNDP0SoWznLTBckJTxo7s=);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
  
h1 {
  font-family: "Slackside One", cursive;
  font-weight: 2.5rem;
  text-align: center;
  color: #B3E7F2;
}

h2 {
  font-family: "Slackside One", cursive;
  font-weight: 1.5rem;
  text-align: center;
  font-style: uppercase;
  color: #87A617;
}

p {
  font-family: "Cormorant", serif;
  font-weight: 1rem;
  line-height: 1.5;
  text-align: center;
  margin: 20px 35px 20px 35px;
}

.message {
  font-style: italic;
  color: #DCEEF2;
}
  
