*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #395953;
  font-family: sans-serif;
  color: #D9D5A7;
  font-size: 20px;
}
  
h1 {
  font-family: "Slackside One", cursive;
  font-weight: 2.5rem;
  text-align: center;
  color: #DCEEF2;
}

h2 {
  font-family: "Slackside One", cursive;
  font-weight: 1.5rem;
  text-align: center;
  color: #A69F41;
}

p {
  font-family: "Cormorant", serif;
  font-weight: 1rem;
  line-height: 1.5;
  margin: 10px 20px 10px 10px;
}
