*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #395953;
  color: #F2E2CE;
  font-size: 20px;
}
  
h1 {
  font-family: "Slackside One", cursive;
  font-weight: 2.5rem;
  text-align: center;
  color: #B3E7F2;
}

h2 {
  font-family: "Slackside One", cursive;
  font-weight: 1.5rem;
  text-align: center;
  font-style: uppercase;
  color: #87A617;
}

p {
  font-family: "Cormorant", serif;
  font-weight: 1rem;
  line-height: 1.5;
  text-align: center;
  margin: 20px 35px 20px 35px;
}

.message {
  font-style: italic;
  color: #DCEEF2;
}
  
